@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

body {
	overflow-x: hidden;
  font-family: 'Montserrat', sans-serif !important;
}

.product-index {
	margin: 5%;
}

.locale-control{
	width: 100px;
	margin: 0 auto 2%;
	padding: 2%;
	border: none;
	background-color: #FFF;
}

.locale-control:focus{
	outline:0;
	border:none;
	box-shadow:0;
}

.hero-image {
	height: 60vh;
	min-height: 10em;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background-size: cover;
  background-position: center;
	margin-bottom: 25px;
}

.slider-carousel {
	margin: 0 auto;
	width: 40%;
}

.individual-carousel-container {
	margin: 0 auto;
}

.individual-carousel {
	margin: 0 auto;
}

.section > .header {
	padding: 2%;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
	z-index: 10;
	background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.0));
}

.section > :not(.header) {
	padding: 10px 0;
}

.section > :not(.hero-image):not(.header) {
	padding-left: 5%;
	padding-right: 5%;
}

a {
  color: black;
  text-decoration: none;
}

ul {
	padding: 0;
}
